bs4==0.0.1
decorator==4.0.10
defusedxml==0.4.1
Django==1.9
djangorestframework==3.4.6
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
EB==0.1.5
Flask==0.11.1
Flask-Babel==0.11.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.0
Flask-OpenID==1.2.5
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.12
flipflop==1.0
guess-language==0.2
Jinja2==2.8
marshmallow==2.10.1
marshmallow-jsonapi==0.8.0
PyYAML==3.12
South==1.0.2
sqlacodegen==1.1.6
SQLAlchemy==1.0.15
sqlalchemy-migrate==0.10.0
sqlparse==0.2.1
virtualenv==15.0.3
Werkzeug==0.11.11